.advantages__item--font-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: @white;
  padding: 0 30px;

  @media (min-width: @desktop-width) {
    width: 30%;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__item--border {
  border-bottom: 1px solid @grey-border;
  border-top: 1px solid @grey-border;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.advantages__item-line {
  padding-top: 37px;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    padding: 0;
  }
}

.advantages__item-line svg {
  rect {
    @media (min-width: @tablet-width) {
      fill: @grey-main;
    }
  }
}

.advantages__item-staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: 135px;
  padding: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-around;
    height: 330px;
    padding: 0;
  }
}

.advantages__item-img {
  width: 40px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    width: 76px;
    padding-top: 60px;
    padding-right: 0;
  }
}

.advantages__item-name {
  font-weight: 700;
  font-size: 18px;
  width: 200px;
  text-align: start;

  @media (min-width: @tablet-width) {
    text-align: center;
  }
}

.advantages__item-text {
  align-items: start;
  padding-left: 53px;
  text-align: initial;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 180px;
    text-align: center;
    align-items: center;
    padding-left: 0;
    padding-bottom: 60px;
  }
}

.advantages__item--first-line {
  background-image: url("../img/triangle-intro.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @blue;
  height: 470px;
  width: 320px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    height: 253px;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.advantages__item-photo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.advantages__item--second-line {
  width: 320px;
  margin: 0 auto;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
    width: 1200px;
  }
}

.advantages__item--third-line {
  width: 320px;
  margin: 0 auto;
  background-color: @blue;
  height: 470px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    height: 254px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 1200px;
  }
}

.advantages__item--forth-line {
  background-color: @grey-main;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    height: 265px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    justify-content: space-around;
  }
}

.advantages__item-intro {
  font-weight: 700;
  width: 280px;
  font-size: 18px;
  padding-bottom: 11px;
  padding-top: 55px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    width: 150px;
    padding: 0;
  }
}

.advantages__item-number {
  font-size: 14px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    padding: 0;
  }
}

.advantages__item-info {
  margin: 0;
  width: 230px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    font-size: 16px;
    width: 200px;
    padding-bottom: 0;
  }
}
