.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__item--border {
  border-bottom: 1px solid @grey-border;
  border-top: 1px solid @grey-border;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.advantages__item-line {
  padding-top: 37px;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    padding: 0;
  }
}

.advantages__item-line svg {
  rect {
    @media (min-width: @tablet-width) {
      fill: @grey-main;
    }
  }
}

.advantages__item-staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 23px 15px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-around;
    padding: 53px 0 0 0;

    &:nth-child(3) {
      padding-top: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 30%;

    &:nth-child(3) {
      padding-top: 53px;
    }
  }
}

.advantages__item-img {
  width: 40px;
  height: 40px;
  padding-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--house {
    background-image: url("../img/icon-house.svg");
  }

  &--burger {
    background-image: url("../img/icon-burger.svg");
  }

  &--present {
    background-image: url("../img/icon-present.svg");
  }

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    padding: 0;
  }
}

.advantages__item-name {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  width: 200px;
  text-align: start;

  @media (min-width: @tablet-width) {
    text-align: center;
    line-height: 26px;
    font-size: 21px;
    padding: 22px 0;
  }
}

.advantages__item-text {
  align-items: start;
  padding: 10px 0 0 50px;
  text-align: initial;
  line-height: 21px;
  margin: 0;

  &--house {
    width: 210px;
  }

  &--burger {
    width: 240px;
  }

  &--present {
    width: 200px;
  }

  @media (min-width: @tablet-width) {
    width: 180px;
    text-align: center;
    align-items: center;
    padding: 0 0 60px 0;

    &--house {
      width: 170px;
    }

    &--burger {
      width: 155px;
    }

    &--present {
      width: 195px;
    }
  }

  @media (min-width: @desktop-width) {
    &--house {
      width: 255px;
    }

    &--burger {
      width: 300px;
    }

    &--present {
      width: 290px;
    }
  }
}

.advantages__item-text-br {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__item--font-white {
  color: @white;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    height: 181px;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 28%;
    justify-content: center;
  }
}

.advantages__item--first-line {
  background-image: url("../img/triangle-intro.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @blue;
  width: 320px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    height: auto;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.advantages__item-photo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.advantages__item--second-line {
  width: 320px;
  padding: 23px 0 27px 0;
  margin: 0 auto;
  background-color: @white;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 768px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
    width: 1200px;
    padding-bottom: 25px;
  }
}

.advantages__item--third-line {
  width: 320px;
  margin: 0 auto;
  background-color: @blue;
  height: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 1200px;
  }
}

.advantages__item--forth-line {
  background-color: @grey-main;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    padding: 40px 0 55px 0;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding-bottom: 65px;
  }
}

.advantages__item-intro {
  font-weight: 700;
  width: 280px;
  font-size: 18px;
  padding: 41px 0 11px 0;

  &--first {
    padding-top: 67px;
  }

  &--forth {
    padding-top: 26px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    width: 150px;
    padding: 0;
  }
}

.advantages__item-number {
  font-size: 14px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    padding: 15px 0 20px 0;
  }
}

.advantages__item-info {
  margin: 0;
  width: 284px;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0 40px 0;
  line-height: 21px;

  &--third {
    padding-bottom: 30px;
  }

  &--forth {
    padding-bottom: 27px;
    line-height: 18px;
    width: 255px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 14px;
    width: 197px;
    line-height: 21px;

    &--forth {
      padding-bottom: 0;
      line-height: 18px;
      width: 176px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 290px;
    font-size: 14px;

    &--third {
      width: 225px;
    }

    &--forth {
      padding-bottom: 0;
      padding-top: 5px;
      line-height: 21px;
    }
  }
}
