.advantages__item--font-white {
  color: @white;
}

.advantages__item-wrapper--first-line {
  background-color: @blue;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item-wrapper--second-line {
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item-wrapper--third-line {
  background-color: @blue;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.advantages__item-wrapper--forth-line {
  background-color: @grey-main;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item-intro {
  font-weight: 700;
  font-size: 18px;
}

.advantages__item-info {
  font-weight: 400;
  font-size: 14px;
}
