.intro__head {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-top: 40px;
  }
}

.intro__info {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 20px;
}

.intro-wrapper {
  display: flex;
  align-items: center;
}

.intro {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 483px;
  }
}
