.page-footer__wrapper {
  display: grid;
  width: 300px;
  height: 233px;
  justify-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 760px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 120px;
  }

  @media (min-width: @desktop-width) {
    width: 1100px;
  }
}


.page-footer__item {
  display: grid;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
}

.page-footer__item-academy {
  width: 30px;
  height: 34px;
}

.page-footer__item-academy path {
  fill: @black;

  &:hover {
    fill: @blue-hover;
  }

  &:active {
    fill: rgba(@black, 0.3);
  }
}

.page-footer__item-academy-wrapper {
  display: grid;
  grid-template-columns: 90px 38px;
  grid-column-gap: 15px;
  align-items: center;
}

.page-footer__item-academy-intro {
  font-weight: 400;
  font-size: 14px;
}
