.page-footer__wrapper {
  display: grid;
  width: 300px;
  justify-items: center;
  margin: 0 auto;
  align-items: baseline;

  @media (min-width: @tablet-width) {
    width: 760px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-footer__item {
  display: grid;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  height: 81px;

  @media (min-width: @tablet-width) {
    align-items: end;
  }
}

.page-footer__item-teg {
  line-height: 26px;
  margin: 0;
  padding-top: 15px;

  @media (min-width: @desktop-width) {
    padding: 0 27px 5px 0;
  }
}

.page-footer__item-academy {
  width: 30px;
  height: 34px;
}

.page-footer__item-academy-icon {
  width: 30px;
  height: auto;
  fill: @black;
}

.page-footer__item-academy-icon:hover {
  fill: @blue-hover;
}

.page-footer__item-academy-icon:active {
  fill: rgba(@black, 0.3);
}

.page-footer__item-academy-wrapper {
  display: grid;
  grid-template-columns: 90px 38px;
  grid-column-gap: 15px;
  align-items: center;

  &:hover {
    p {
      color: @blue-hover;
    }

    path {
      fill: @blue-hover;
    }

    &:active {
      p {
        color: rgba(@black, 0.3);
      }

      svg {
        fill: rgba(@black, 0.3);
      }
    }

  @media (min-width: @desktop-width) {
    padding-left: 43px;
  }
}
}


.page-footer__item-academy-intro {
  font-weight: 400;
  font-size: 14px;
}
