.qestions {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.qestions__intro {
  font-weight: 700;
  font-size: 21px;
}

.qestions__button {
  width: 285px;
  height: 58px;
  border: none;
  background-color: @blue;
  color: @white;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}
