.qestions {
  margin: 0 auto;
  width: 280px;
  padding: 39px 20px 0;

  &--catalog {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 51px 0 57px 0;

    &--catalog {
      padding: 53px 0 68px;
    }

    &--video {
      padding-top: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    padding-bottom: 68px;
  }
}

.qestions__intro {
  font-weight: 700;
  font-size: 21px;
  padding-bottom: 23px;

  &--catalog {
    font-size: 18px;
    padding-bottom: 31px;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-bottom: 27px;
  }
}

.qestions__info {
  font-size: 14px;
  padding-bottom: 33px;
  margin: 0 auto;
  line-height: 20px;

  &--catalog {
    width: 270px;
    padding-bottom: 12px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 42px;

    &--catalog {
      width: 450px;
      padding-bottom: 12px;
    }
  }
}

.qestions__info-br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.qestions__button {
  display: block;
  margin-top: 0;
  width: 281px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.qestions__button a {
  color: @white;

  &:active {
    color: rgba(@white, 0.3);
  }
}
