.qestions__intro {
  font-weight: 700;
  font-size: 21px;
}

.qestions__button {
  width: 285px;
  height: 58px;
  border: none;
  background-color: @blue;
  color: @white;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}
