.site-list {
  display: block;
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    justify-content: space-evenly;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    width: 100%;
  }
}

.site-list__item {
  display: block;
  position: relative;
  width: 320px;
  height: 55px;
  font-weight: 700;
  font-size: 14px;
  color: @white;
  background-color: @blue;

  @media (min-width: @tablet-width) {
    color: @black;
    background-color: @white;
    width: 15%;
  }
}
