.site-list {
  display: block;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
  left: 50%;
  position: relative;
  width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    max-width: 768px;
    width: 100%;
    justify-content: space-evenly;
    z-index: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    width: 100%;
  }
}

.site-list__item {
  display: block;
  position: relative;
  height: 55px;
  font-weight: 700;
  font-size: 14px;
  color: @white;
  background-color: @blue;

  @media (min-width: @tablet-width) {
    width: 20%;
    color: @black;
    background-color: @white;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }
}

.site-list__item--logo {
  display: block;
  position: absolute;
  width: 182px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  background-color: transparent;
  top: 0;
}
