.visited {
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    width: 648px;
    padding-bottom: 10px;
  }
}

.visited__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
  padding: 15px 0 0 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 481px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 870px;
    padding: 50px 0 37px 0;
  }
}

.visited__checkbox {
  @media (min-width: @tablet-width) {
    text-align: initial;
    width: 225px;
  }

  @media (min-width: @desktop-width) {
    width: 184px;
  }
}
